.App {
  color:rgb(30, 3, 3);
  font-family: "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", cursive;
  font-size: 14px;
  padding: 5%;
}

.container {
  display:flex;
  width: 25rem;
  height: 100%;
  background-color: rgb(255, 252, 180);
}

